#welcome-section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    margin-top: -80px;
}
.bg-midnightblue {
  --tw-bg-opacity: 1;
  background-color: rgb(25, 25, 112);
  color: white;
}